button,
input,
select:hover {
  cursor: pointer; }

body {
  background-color: #cbebff;
  color: #00008b;
  font-family: "Source Sans Pro", sans-serif; }

.credit_card_form {
  background-color: #ffffff;
  max-width: 360px;
  width: max-content;
  margin: 40px auto;
  padding: 40px;
  border-radius: 10px;
  transition: all 0.5s;
  box-shadow: 0 10px 30px -5px rgba(150, 172, 189, 0.6); }
  @media only screen and (max-width: 400px) {
    .credit_card_form {
      width: auto;
      padding: 20px; } }
  .credit_card_form .form_title {
    font-size: 36px;
    text-align: center;
    margin-top: 0; }
  .credit_card_form .form_input_container {
    margin: 20px 0; }
    .credit_card_form .form_input_container .label_for_input {
      font-size: 18px;
      display: inline-block;
      width: 100%;
      margin-bottom: 10px; }
    .credit_card_form .form_input_container .form_input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px 6.6666666667px;
      border-radius: 40px;
      font-size: 16px;
      color: #00008b;
      border: 1px solid #ffffff;
      box-shadow: 0 0 10px -2px rgba(150, 172, 189, 0.6) inset; }
    .credit_card_form .form_input_container .form_input_short {
      text-align: center;
      width: 20%; }
    .credit_card_form .form_input_container input[type="text"] {
      text-transform: uppercase; }
    .credit_card_form .form_input_container input[type="number"]::-webkit-inner-spin-button {
      display: none; }
    .credit_card_form .form_input_container .error_input {
      border: 1px solid red; }
  .credit_card_form .error_text {
    color: red;
    font-size: 14px;
    opacity: 0;
    transition: all 0.3s; }
  .credit_card_form .form_button {
    font-size: 18px;
    color: #ffffff;
    display: block;
    min-width: 200px;
    border-radius: 40px;
    padding: 10px 40px;
    margin: 0 auto 40px;
    border: 0;
    background-image: linear-gradient(to right, #9eefe1 0%, #4830f0 51%, #9eefe1 100%);
    background-size: 200% auto;
    transition: all 0.5s; }
    .credit_card_form .form_button:hover {
      background-position: right center;
      box-shadow: 0 10px 10px -5px rgba(150, 172, 189, 0.6); }

.credit_card_view {
  position: absolute;
  width: 360px;
  height: 200px;
  background: linear-gradient(344deg, #0a0561 0%, #07077c 38%, #00d4ff 100%);
  margin: 80px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 15px 15px 10px -2px rgba(150, 172, 189, 0.6);
  color: #ffffff;
  left: 50%;
  margin-left: -180px;
  transition: all 1s;
  bottom: -20%;
  opacity: 0;
  z-index: -1; }
  .credit_card_view .card_type,
  .credit_card_view .card_number,
  .credit_card_view .card_date,
  .credit_card_view .card_username,
  .credit_card_view .card_chip,
  .credit_card_view .card_system {
    position: absolute;
    margin: 20px; }
  .credit_card_view .card_chip {
    left: 0;
    top: 20%;
    width: 40px; }
  .credit_card_view .card_system {
    right: 0;
    bottom: 0;
    width: 60px; }
  .credit_card_view .card_type {
    right: 0;
    top: 0;
    text-transform: capitalize; }
  .credit_card_view .card_number {
    left: 0;
    top: 45%;
    font-size: 24px;
    font-family: "Outfit", sans-serif;
    letter-spacing: 4px; }
  .credit_card_view .card_date {
    left: 30%;
    top: 60%; }
    .credit_card_view .card_date .date_label {
      display: inline-block;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 200; }
    .credit_card_view .card_date .date_value {
      display: inline-block;
      font-size: 16px;
      position: absolute;
      left: 120%; }
  .credit_card_view .card_username {
    left: 0;
    bottom: 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 200; }

.active {
  bottom: 40%;
  opacity: 1;
  z-index: 10; }

.hide {
  opacity: 0;
  z-index: -1; }

/*# sourceMappingURL=style.css.map */
