$colorLightBlue: #cbebff;
$colorCyan: #9eefe1;
$colorDodgerBlue: #4830f0;
$colorDarkBlue: #00008b;
$colorWhite: #ffffff;
$spaceS: 20px;
$spaceM: 40px;
$spaceL: 80px;
button,
input,
select:hover {
    cursor: pointer;
}

@mixin resizing($width) {
    @media only screen and (max-width: $width) {
        @content;
    }
}

@mixin shadow($hor: 3px, $vert: 10px, $blur: 10px, $space: -10px) {
    box-shadow: $hor $vert $blur $space rgba(150, 172, 189, 0.6);
}

@mixin title {
    font-size: 36px;
    text-align: center;
}

@mixin label {
    font-size: 18px;
    display: inline-block;
    width: 100%;
    margin-bottom: $spaceS/2;
}

@mixin button_text {
    font-size: 18px;
    color: $colorWhite;
}

body {
    background-color: $colorLightBlue;
    color: $colorDarkBlue;
    font-family: "Source Sans Pro", sans-serif;
}

.credit_card_form {
    background-color: $colorWhite;
    max-width: 360px;
    width: max-content;
    margin: $spaceM auto;
    padding: $spaceM;
    border-radius: $spaceS/2;
    transition: all 0.5s;
    @include shadow(0, 10px, 30px, -5px);
    @include resizing(400px) {
        width: auto;
        padding: $spaceS;
    }

    .form_title {
        @include title;
        margin-top: 0;
    }

    .form_input_container {
        margin: $spaceS 0;

        .label_for_input {
            @include label;
        }

        .form_input {
            box-sizing: border-box;
            width: 100%;
            padding: $spaceS/2 $spaceS/3;
            border-radius: $spaceM;
            font-size: 16px;
            color: $colorDarkBlue;
            border: 1px solid $colorWhite;
            box-shadow: 0 0 10px -2px rgba(150, 172, 189, 0.6) inset;
        }

        .form_input_short {
            text-align: center;
            width: 20%;
        }

        input[type="text"] {
            text-transform: uppercase;
        }
        input[type="number"] {
            &::-webkit-inner-spin-button {
                display: none;
            }
        }

        .error_input {
            border: 1px solid red;
        }
    }
    .error_text {
        color: red;
        font-size: 14px;
        opacity: 0;
        transition: all 0.3s;
    }

    .form_button {
        @include button_text;
        display: block;
        min-width: 200px;
        border-radius: $spaceM;
        padding: $spaceS/2 $spaceM;
        margin: 0 auto $spaceM;
        border: 0;
        background-image: linear-gradient(to right, $colorCyan 0%, $colorDodgerBlue 51%, $colorCyan 100%);
        background-size: 200% auto;
        transition: all 0.5s;
        &:hover {
            background-position: right center;
            @include shadow(0, 10px, 10px, -5px);
        }
    }
}

.credit_card_view {
    position: absolute;
    width: 360px;
    height: 200px;
    background: linear-gradient(344deg, rgba(10, 5, 97, 1) 0%, rgba(7, 7, 124, 1) 38%, rgba(0, 212, 255, 1) 100%);
    margin: $spaceL auto;
    padding: $spaceS;
    border-radius: $spaceS/2;
    @include shadow(15px, 15px, 10px, -2px);
    color: $colorWhite;
    left: 50%;
    margin-left: -180px;
    transition: all 1s;

    bottom: -20%;
    opacity: 0;
    z-index: -1;

    .card_type,
    .card_number,
    .card_date,
    .card_username,
    .card_chip,
    .card_system {
        position: absolute;
        margin: $spaceS;
    }
    .card_chip {
        left: 0;
        top: 20%;
        width: 40px;
    }
    .card_system {
        right: 0;
        bottom: 0;
        width: 60px;
    }
    .card_type {
        right: 0;
        top: 0;
        text-transform: capitalize;
    }
    .card_number {
        left: 0;
        top: 45%;
        font-size: 24px;
        font-family: "Outfit", sans-serif;
        letter-spacing: 4px;
    }
    .card_date {
        left: 30%;
        top: 60%;
        .date_label {
            display: inline-block;
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 200;
        }
        .date_value {
            display: inline-block;
            font-size: 16px;
            position: absolute;
            left: 120%;
        }
    }
    .card_username {
        left: 0;
        bottom: 0;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 200;
    }
}
.active {
    bottom: 40%;
    opacity: 1;
    z-index: 10;
}
.hide {
    opacity: 0;
    z-index: -1;
}